*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: Arial, sans-serif;
}

.page-body{
	width: 100%;
	display: flex;
	justify-content: center;
	/*background-color: lightblue;*/
}

.page{
	width: 80%;
	/*background-color: pink;*/
	height: auto;
	margin: 0px;
}

nav{
	/*width: 100vw;*/
	background-color: #79c7e8;
	color: white;
	flex: wrap;
}

.nav-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-content{
	height: 100px;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.navlink-smallscrn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}

.navlink-smallscrn li{
	text-align: center;
	padding-top: 40px;
}

/*.nav-height{
	height: 100px;
}

.nav-height-auto{
	height: auto;
}*/

.navlink{
	/*justify-content: flex-end;*/
	width: 40%;
	/*background-color: blue;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	/*color: white;*/
}

nav h1, nav p{
	display: inline-block;
}

nav a{
	text-decoration: none;
	color: white;
}

#menu{
	/*display: flex;*/
	/*align-items: center;*/
	align-self: center;
}

.navlogo{
	display: flex;
	align-items: center;
}

.banner{
	padding-top: 30px;
	padding-bottom: 0px;
	margin: 0px;

}

.banner img{
	width: 100%;
}

.header{
	/*background-color: blue;*/
	/*font-weight: lighter;*/
	padding: 30px 0px 5px 0px;
	border-bottom: 3px solid #79c7e8;
}

.header p{
	font-size: 28px;
	text-shadow: 0px 1px 2px gray;
}

.header-text{
	/*background-color: lightblue;*/
	padding: 0px 0px 0px 10px;
	border-left: 5px solid #79c7e8;
}

.content{
	/*background-color: blue;*/
	padding-top: 20px;
	padding-bottom: 10px;
	line-height: 1.6;
	font-size: 16px;
}

.content-news{
	padding-top: 20px;
	padding-bottom: 10px;
	line-height: 2.0;
	overflow-x: auto;
	/*background-color: green;*/
	/*display: flex;*/
}

.text{
	/*padding-left: 30px;*/
}

.content-news table{
	/*font-size: 16px;*/
	/*border: 1px solid black;*/
	width: 100%;
	margin: 0px;
	font-size: 16px;
	overflow-x: auto;
	/*padding: 0px;*/
}

/*.content-news tbody{
	margin: 0px;
}*/

.content-news tr{
	height: auto;
	/*display: inline-block;*/
}

.content-news .text{
	/*width: 100%;*/
	/*height: 100px;*/
}

.displaynone{
	display: none;
}

.display-inblock{
	display: inline-block;
}

.display-block{
	display: block;
}

/*.transition{
	transition: height 3s;
}*/

.moreinfo{
	display: flex;
	justify-content: flex-end;
	padding-bottom: 45px;
}

.moreinfo a{
	text-decoration-color: #79c7e8;
	color: #79c7e8;

}


footer{
	height: 60px;
	background-color: #79c7e8;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 1366px){
	.navlink{
		width: 30%;
	}
}

